*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 
}
.container{
    background-color: #592269;
    height: 100vh;
    display: grid;
    place-items:center;
}
.card{
  
    
    max-width: 400px;
    width: 100%;
    background-color: white;
    padding:20px 0;
    border-radius: 10px;
}
.head {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.head h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.head img{
    width: 200px;
    height: 200px;
}
.body{
    display: flex;
    padding: 20px;
/* flex: 1; */
}
.body > div{
width: calc(100% / 3);
border: 1px solid #eee;
margin:0 5px;
border-radius: 5px;
}
.body >div > select{
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    text-transform: capitalize;
    cursor: pointer;
}
footer{
   display: flex;
    flex: 1;
    justify-content: center;
    padding: 20px;
}
footer button{
    flex: 1;
    text-align: center;
    color: white;
    background-color: #592269;
  padding: 15px 0;
  font-size: 20px;
    border-radius:10px ;
    border: none;
    cursor: pointer;
}
.headdin{
    cursor: none;
    user-select: none;
    opacity: .4;
}